.main-section__title {
  margin: 72px 0 32px;
  padding: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  max-width: 474px;
  min-height: 40px;
  overflow-wrap: break-word;
}

@media screen and (max-width: 504px) {
  .main-section__title {
    margin-top: 15%;
    margin-bottom: 7%;
    font-size: 26px;
  }
}
